<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaled=no,
    maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="img/icono.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/bubonica.css">
    <title>Peste Bubónica</title>
</head>
<body>
    <div class="contenedor">
        {{>header}}

        <section class="main">
            <div class="bub">
                <img src="img/bubonica/fondo.jpg" alt="fondo">
            </div>
            <section class="texto">
                <article>
                    <h2 class="titulo">La peste Bubónica</h2>
                <p>La peste bubónica es una infección producida por la bacteria Yersinia pestis
                en la que predomina la inflamación de ganglios infectados en órganos sexuales
                y ojos (bubones). Cuando predomina la afectación pulmonar la enfermedad recibe
                el nombre de peste neumónica. Los primeros síntomas son similares a los de la
                gripe y se presentan de uno a siete días después de la exposición a la bacteria.
                Entre estos síntomas se incluye la fiebre, dolor de cabeza y vómitos. Los 
                ganglios linfáticos inflamados y dolorosos se producen en las áreas más cercanas
                a la zona donde la bacteria ingresó al organismo. Debido a la inflamación de 
                los ganglios linfáticos es posible que estos puedan abrirse y expulsar material
                purulento al exterior. </p>

                <h3 class="subtitulo">Signos y síntomas</h3>
                <p>Los síntomas de la peste aparecen repentinamente días después de la exposición a la bacteria. Los síntomas incluyen: 
                Síntomas de resfriado.
                Sensación general de malestar.
                Fiebre (39 °C; 102 °F).
                Calambres musculares.8
                Inflamación de los ganglios linfáticos, principalmente los situados en ingles, axilas y cuello.
                El dolor puede ocurrir antes de que la hinchazón aparezca.
                Se empiezan a gangrenar las extremidades como los dedos de los pies, manos, los labios y la punta de la nariz.9
                Otros síntomas son sensación de asfixia, vómitos de sangre (hematemesis), dolor en las extremidades y tos. Los síntomas adicionales pueden incluir fatiga extrema, problemas gastrointestinales, delirio y coma. 
                </p>

                <h3 class="subtitulo">Diagnóstico</h3>
                <p>Para el diagnóstico y la confirmación se requieren pruebas de laboratorio.
                Preferiblemente, la confirmación es a través de la identificación del 
                cultivo de Y. pestis a partir de una muestra del paciente. La confirmación
                de la infección puede hacerse examinando el suero tomado durante las fases
                temprana y tardía de la infección. Para la detección de Y. pestis en pacientes,
                se han desarrollado estudios rápidos de varilla de nivel para su uso en el campo.</p>

                <h3 class="subtitulo">Tratamiento</h3>
                <p>Varias clases de antibióticos son eficaces en el tratamiento de la peste bubónica.
                Estos incluyen aminoglucósidos tales como estreptomicina y gentamicina, tetraciclinas
                (especialmente doxiciclina) y la fluoroquinolona ciprofloxacino. La mortalidad asociada
                con casos tratados de peste bubónica es de aproximadamente 1%-15%, en comparación con una
                mortalidad de 40%-60% en casos no tratados. Las personas que han sido infectadas con la 
                peste necesitan un tratamiento inmediato y por lo tanto deben recibir antibióticos dentro
                de las primeras 24 horas de los síntomas para prevenir la muerte. Algunos otros tratamientos
                incluyen terapia con oxígeno, líquidos intravenosos y apoyo respiratorio. Las personas que
                han estado expuestas a otras infecciones, causadas en este caso por la peste neumónica, deben
                de recibir antibióticos profilácticos. El uso de antibióticos como la estreptomicina y 
                derivados, ha demostrado ser muy exitoso contra la peste bubónica dentro de las primeras
                12 horas de la infección</p>
                </article>
            </section>
        </section>

        <aside>
            <div class="ad">
                <img src="img/bubonica/1.jpg" alt="peste">
                <h3>Causas</h3>
                <p>La peste bubónica es una infección en el sistema linfático, producida por
                la mordedura de una pulga infectada, Xenopsylla cheopis (la pulga de rata).
                La pulga es un parásito en las ratas de casa y de campo, que busca otra 
                presa cuando el roedor en el que habita muere. Las bacterias se localizan
                en aparato digestivo de las pulgas infectadas de tal forma que cuando la
                pulga pica, regurgita el contenido intestinal, que infecta el punto de 
                la picadura. De esta forma las bacterias atraviesan la piel y alcanzan 
                los ganglios linfáticos, donde pueden resistir la fagocitosis e incluso 
                reproducirse dentro de los fagocitos y matarlos. A medida que la enfermedad
                progresa, los ganglios linfáticos se hinchan. La peste bubónica puede 
                extenderse a la sangre y diseminarse (peste septicémica) o llegar al pulmón
                y provocar peste neumónica.</p>
            </div>
            <div class="ad">
                <img src="img/bubonica/2.JPG" alt="muertos por la peste">
            </div>
        </aside>

        <footer>
            <div class="autor">
                <p>Vianey Medina</p>
            </div>

            <div class="redes">
                <a href="http://localhost:3000/lepra.hbs">back</a>
                <a href="http://localhost:3000/">Inicio</a>
            </div>
        </footer>
    </div>
</body>
</html>