<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaled=no,
    maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="img/icono.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/contacto.css">
    <title>Contacto</title>
</head>
<body>
    <div class="contenedor">
        {{>header}}

        <section class="main">
            <div class="yo">
                <img src="img/yo-vianey.jpg" alt="autor">
            </div>
            <section class="texto">
                <article>
                    <h2 class="titulo">Vianey</h2>
                    <h3 class="subtitulo">Desarrollador web</h3>
                <p>Hola, bienvenido a mi pagina web, este sitio fue creado sin fines lucrativos, esta página
                    surgió por una práctica escolar debio a la nueva amenza del covid-19. Esta página contiene
                derechos de autor. Estoy aprendiendo a programar sitios web si te interesa aprender de una manera 
            rapida pero diverida te recomiendo al youtuber <a href="https://www.youtube.com/user/FalconMasters">FalconMasters</a> quien será tu instructor
                en la página web <a href="https://www.udemy.com/mobile/ipad/">Udemy</a> los enlaces están aquí.
                Entra y dales un vitazo, es divertido.</p>
                </article>
            </section>
        </section>

        <aside>
            <div class="ad">
                <img src="img/udemy.png" alt="udemy">
                <h3>¿Qué es la Udemy?</h3>
                <p>Udemy. Udemy.com es una plataforma de aprendizaje en línea. Está dirigido para adultos profesionales. ​ A diferencia de los programas académicos MOOC conducidos por tradicionales cursos de trabajo creados por el colegio, Udemy utiliza contenido de creadores en línea para vender y así conseguir ganancias.</p>
            </div>
            <div class="ad">
                <img src="img/logo.jpg" alt="Falcon Masters">
            </div>
        </aside>

        <footer>
            <div class="autor">
                <p>Vianey Medina</p>
            </div>

            <div class="redes">
                <a href="https://www.facebook.com/vianey.medina.792">Facebook</a>
                <a href="https://www.instagram.com/fer013828/?hl=es-la">Instagram</a>
            </div>
        </footer>
    </div
</body>
</html>