<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaled=no,
    maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="img/icono.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/ebola.css">
    <title>Ébola</title>
</head>
<body>
    <div class="contenedor">
        {{>header}}
        <section class="main">
            <div class="ebola">
                <img src="img/1p.jfif" alt="ébola">
            </div>
            <section class="texto">
                <article>
                    <h2 class="titulo">Enfermedad por el virus del Ébola</h2>
                    <p>La enfermedad por el virus del Ébola (EVE), antes llamada fiebre hemorrágica del Ébola, es una enfermedad grave, a menudo mortal en el ser humano.
                    El virus es transmitido al ser humano por animales salvajes y se propaga en las poblaciones humanas por transmisión de persona a persona.
                    Los brotes de enfermedad por el virus del Ebola (EVE) tienen una tasa de letalidad que es de aproximadamente 50%. En brotes anteriores, las tasas fueron de 25% a 90%.
                    La participación de la comunidad es fundamental para el éxito del control de los brotes. Un buen control de los brotes depende de la aplicación de diferentes intervenciones, como la atención a los casos, las prácticas de control y prevención de la infección, la vigilancia y el rastreo de los casos, los entierros en condiciones de seguridad o la movilización social.
                    El tratamiento de apoyo precoz con rehidratación y el tratamiento sintomático mejoran la supervivencia. Todavía no hay ningún tratamiento aprobado que neutralice el virus de forma demostrada, pero están en fase de desarrollo diversas formas de hemoterapia, inmunoterapia y farmacoterapia.
                    La enfermedad por el virus del Ebola (EVE) es una enfermedad grave, a menudo mortal en el ser humano. El virus se detectó por vez primera en 1976 en dos brotes simultáneos ocurridos en Nzara (hoy Sudán del Sur) y Yambuku (República Democrática del Congo). La aldea en que se produjo el segundo de ellos está situada cerca del río Ebola, que da nombre al virus.
                    El brote de ébola de 2014-2016 en África Occidental fue el más extenso y complejo desde que se descubrió el virus en 1976. Hubo más casos y más muertes en este brote que en todos los demás juntos. Además, se extendió a diferentes países: empezó en Guinea y después se propagó a través de las fronteras terrestres a Sierra Leona y Liberia.
                    El género Ebolavirus es, junto con los géneros Marburgvirus y Cuevavirus, uno de los tres miembros de la familia Filoviridae (filovirus). Se han identificado cinco especies distintas en el género Ebolavirus:
                    ebolavirus Bundibugyo (BDBV);
                    ebolavirus Zaire (EBOV);
                    ebolavirus Reston (RESTV);
                    ebolavirus Sudan (SUDV), y
                    ebolavirus Taï Forest (TAFV).
                    Las especies BDBV, EBOV y SUDV se han asociado a grandes brotes de EVE en África. El virus responsable del brote en África Occidental en 2014-2016 pertenece a la especie Zaire.
                    </p>

                    <h3 class="subtitulo">Transmición</h3>
                        <p>Se considera que los huéspedes naturales del virus son los murciélagos frugívoros de la familia Pteropodidae. El virus del Ébola se introduce en la población humana por contacto estrecho con órganos, sangre, secreciones u otros líquidos corporales de animales infectados, de chimpancés, gorilas, murciélagos frugívoros, monos, antílopes y puercoespines infectados que se habían encontrado muertos o enfermos en la selva.
                        Posteriormente, el virus se propaga en la comunidad mediante la transmisión de persona a persona, por contacto directo (a través de las membranas mucosas o de soluciones de continuidad de la piel) con órganos, sangre, secreciones, u otros líquidos corporales de personas infectadas, o por contacto indirecto con materiales contaminados por dichos líquidos.
                        La infección del personal sanitario al tratar a pacientes con EVE ha sido frecuente cuando ha habido contacto estrecho y no se han observado estrictamente las precauciones para el control de la infección.
                        Las ceremonias de inhumación que implican contacto directo con el cadáver también pueden contribuir a la transmisión del ébola.
                        Los pacientes son contagiosos mientras el virus esté presente en la sangre.
                        </p>

                        <h3 class="subtitulo">Sintomas de la enfermedad</h3>
                        <p>El periodo de incubación (intervalo desde la infección hasta la aparición de los síntomas) oscila entre 2 y 21 días.
                        Las personas no son contagiosas hasta que aparecen los síntomas. Se caracterizan por la aparición súbita de fiebre, 
                        debilidad intensa y dolores musculares, de cabeza y de garganta, lo cual va seguido de vómitos, diarrea, erupciones
                        cutáneas, disfunción renal y hepática y, en algunos casos, hemorragias internas y externas. Los resultados de laboratorio
                        muestran disminución del número de leucocitos y plaquetas, así como elevación de las enzimas hepáticas.</p>

                        <h3 class="subtitulo">Diagnostico</h3>
                        <p>Antes de establecer un diagnóstico clínico de EVE hay que descartar otras enfermedades infecciosas como el paludismo, la fiebre tifoidea o la meningitis. Los métodos de diagnóstico detallados a continuación sirven para confirmar que los síntomas son causados por la infección por el virus del Ebola:
                        prueba de inmunoadsorción enzimática (ELISA);
                        pruebas de detección de antígenos;
                        prueba de cero, neutralización;
                        reacción en cadena de la polimerasa con transcriptasa inversa (RT-PCR);
                        microscopía electrónica;
                        aislamiento del virus mediante cultivo celular.
                        A la hora de seleccionar las pruebas diagnósticas hay que prestar mucha atención a factores como las especificaciones técnicas, la incidencia y prevalencia de la enfermedad y las repercusiones sociales y médicas de los resultados de las pruebas. Se recomienda firmemente el uso de pruebas diagnósticas que hayan sido objeto de evaluaciones independientes e internacionales. 
                        Las pruebas actualmente recomendadas por la OMS son:
                        Para el diagnóstico sistemático, las pruebas de ácidos nucleicos (PAN) automatizadas o semiautomatizadas.
                        Las pruebas rápidas de detección de antígenos en zonas remotas en las que no estén disponibles las PAN. Estas pruebas se recomiendan para el cribado en las actividades de vigilancia, pero los casos reactivos deben confirmarse mediante PAN.
                        Las muestras preferidas para el diagnóstico son:
                        La sangre entera tratada con EDTA de pacientes sintomáticos vivos.
                        Las secreciones bucales almacenadas en medio de transporte universal de pacientes fallecidos o en los que no sea posible la obtención de muestras de sangre.
                        Las muestras recogidas de los pacientes suponen un enorme peligro biológico, y las pruebas tienen que realizarse en condiciones de máxima contención biológica. Durante el transporte nacional e internacional, todas las muestras deben ser envasadas con el sistema de triple envase.
                        </p>

                        <h3 class="subtitulo">Tratamiento y vacunas</h3>
                        <p>El tratamiento de apoyo —rehidratación con líquidos orales o intravenosos— y el tratamiento de determinados síntomas mejoran la supervivencia. Todavía no hay ningún tratamiento de eficacia demostrada, pero se están evaluando diversas formas de hemoterapia, inmunoterapia y farmacoterapia. Tampoco hay aún vacunas aprobadas para el ébola, pero se están evaluando dos posibles vacunas candidatas.
                            Una vacuna experimental, denominada rVSV-ZEBOV, ha demostrado proporcionar una gran protección contra este virus mortal en un ensayo clínico a gran escala (11 841 sujetos) realizado en Guinea en 2015. Entre los 5837 sujetos que recibieron la vacuna no hubo casos de ébola 10 o más días después de la vacunación, mientras que en los que no recibieron la vacuna hubo 23 casos.
                            El estudio, dirigido por la OMS junto con el Ministerio de Salud de Guinea, Médecins sans Frontieres y el Instituto de Salud Pública de Noruega, contó con la colaboración de otros asociados internacionales. Se eligió un protocolo de vacunación “en anillo”, en el que algunos “anillos” fueron vacunados poco después de detección de un caso, y los demás “anillos” al cabo de tres semanas.
                            </p>
                </article>
            </section>
        </section>

        <aside>
            <div class="ad">
                <img src="img/p.jpeg" alt="enfermo 1">
                <h3>Persistencia del virus</h3>
                <p>Se sabe que en algunas personas que se han recuperado de la EVE, el virus persiste en zonas del organismo menos accesibles al sistema inmunitario, como los testículos, los ojos o el sistema nervioso central. En mujeres infectadas durante el embarazo, el virus persiste en la placenta, el líquido amniótico y el feto, mientras que en mujeres infectadas durante la lactancia puede persistir en la leche materna.</p>
            </div>
            <div class="ad">
                <img src="img/w.jfif" alt="precauciones">
                <p>Los estudios sobre la persistencia del virus indican que, en un pequeño porcentaje de supervivientes, algunos líquidos corporales pueden seguir dando positivo para el virus en la PCR-RT (reacción en cadena de la polimerasa con retro transcriptasa) durante periodos de hasta 9 meses.</p>
            </div>
        </aside>

        <footer>
            <div class="autor">
                <p>Vianey Medina</p>
            </div>

            <div class="redes">
                <a href="http://localhost:3000/enfermedades.hbs">back</a>
                <a href="http://localhost:3000/vih.hbs">Next</a>
            </div>
        </footer>
    </div>
</body>
</html>