<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaled=no,
    maximum-scale=1.0, minimum.scale=1.0">
    <link rel="icon" href="img/icono.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/enfermedades.css">
    <title>Enfermedades</title>
</head>
<body>
    <div class="contenedor">
        {{>header}}

        <section class="lista">
            <div class="contenedor-lista">
                <div class="acomodo">
                    <div class="enfer">
                        <img src="img/2.jpg" alt="ebola">
                    </div>
                    <div class="leer">
                        <a href="http://localhost:3000/ebola.hbs">Ébola</a>
                    </div>
                </div>
                <div class="acomodo">
                    <div class="enfer">
                        <img src="img/3.jpg"  alt="vih">
                    </div>
                    <div class="leer">
                        <a href="http://localhost:3000/vih.hbs">VIH</a>
                    </div>
                </div>
                <div class="acomodo">
                    <div class="enfer">
                        <img src="img/1.jpg"  alt="h1n1">
                    </div>
                    <div class="leer">
                        <a href="http://localhost:3000/h1n1.hbs">H1N1</a>
                    </div>
                </div>
                <div class="acomodo">
                    <div class="enfer">
                        <img src="img/4.jfif"  alt="peste negra">
                    </div>
                    <div class="leer">
                        <a href="http://localhost:3000/peste-negra.hbs">Peste negra</a>
                    </div>
                </div>
                <div class="acomodo">
                    <div class="enfer">
                        <img src="img/5.png"  alt="Lepra">
                    </div>
                    <div class="leer">
                        <a href="http://localhost:3000/lepra.hbs">Lepra</a>
                    </div>
                </div>
                <div class="acomodo">
                    <div class="enfer">
                        <img src="img/6.jfif"  alt="peste bubonica">
                    </div>
                    <div class="leer">
                        <a href="http://localhost:3000/bubonica.hbs">Peste bubónica</a>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="autor">
                <p>Vianey Medina</p>
            </div>

            <div class="redes">
                <a href="https://www.facebook.com/vianey.medina.792">Facebook</a>
                <a href="https://www.instagram.com/fer013828/?hl=es-la">Instagram</a>
            </div>
        </footer>
    </div>
</body>
</html>