<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaled=no,
    maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="img/icono.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/h1n1.css">
    <title>Influenza</title>
</head>
<body>
    <div class="contenedor">
        {{>header}}

        <section class="main">
            <div class="influe">
                <img src="img/1.jpg" alt="">
            </div>
            <section class="texto">
                <article>
                    <h2 class="titulo">Virus de la Influenza</h2>
                    <p>Infección viral común que puede ser mortal, especialmente en grupos de alto riesgo.
                    La gripe afecta a los pulmones, la nariz y la garganta. Los niños pequeños, los adultos de edad avanzada, las mujeres embarazadas y las personas con enfermedades crónicas o un sistema inmunológico débil corren mayor riesgo.
                    Los síntomas incluyen fiebre, escalofríos, dolores musculares, tos, congestión, secreción nasal, dolor de cabeza y fatiga.
                    </p>

                    <h3 class="subtitulo">Contagio</h3>
                    <p>Puedes contagiarte si estás en contacto directo con personas enfermas de influenza.
                    La influenza se transmite de persona a persona (el virus entra al organismo por la boca, nariz y ojos), a través de gotitas de saliva que se expulsan al estornudar o toser; también al saludar de mano, beso o abrazo a una persona enferma de una infección respiratoria.
                    Además puedes contagiarte al tener contacto con superficies previamente contaminadas por gotitas de saliva de una persona enferma de influenza, como mesas, teclados de computadora, artículos deportivos, manijas, barandales, teléfonos, pañuelos desechables y telas.
                    </p>

                    <h3 class="subtitulo">Sintomas</h3>
                    <p>Fiebre arriba de 38°C, tos y dolor de cabeza, acompañados de uno o más de los siguientes signos o síntomas:</p>
                    <ul>
                        <li>Escurrimiento nasal</li>
                        <li>Congestión nasal</li>
                        <li>Dolor de articulaciones</li>
                        <li>Dolor muscular</li>
                        <li>Decaimiento (postración)</li>
                        <li>Dolor al tragar</li>
                        <li>Dolor de pecho</li>
                        <li>Dolor de estómago</li>
                        <li>Diarrea</li>
                    </ul>

                    <h3 class="subtitulo">Tratamiento</h3>
                    <p>Debes tomar muchos líquidos, permanecer en casa descansando,
                    no automedicarte y solicitar atención médica de inmediato.
                    El personal especializado te dará el tratamiento antiviral
                    específico para la influenza y medicamentos de ayuda para
                    aliviar el resto de síntomas.</p>
                </article>
            </section>
        </section>

        <aside>
            <div class="ad">
                <img src="img/h1n1/1.jpg" alt="influenza">
                <h3>¿Cómo me puedo proteger contra la influenza?</h3>
                <p>Vacúnate si no lo has hecho
                Evita cambios bruscos de temperatura y corrientes de aire
                Abrígate bien, utiliza gorro, guantes, bufanda (que cubra nariz y boca) y calcetines gruesos
                Consume muchas frutas y verduras sobre todo las amarillas y verdes, para sentirte mejor y mejorar las defensas de tu cuerpo
                Si puedes, evita tener contacto con personas que tengan enfermedades respiratorias
                Si tienes síntomas de influenza, no te automediques y acude a consulta
                </p>
            </div>
            <div class="ad">
                <img src="img/h1n1/2.jpg" alt="virus-aspecto">
            </div>
        </aside>

        <footer>
            <div class="autor">
                <p>Vianey Medina</p>
            </div>

            <div class="redes">
                <a href="http://localhost:3000/vih.hbs">back</a>
                <a href="http://localhost:3000/peste-negra.hbs">Next</a>
            </div>
        </footer>
    </div>
</body>
</html>