<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scaled=no,
    maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="img/icono.ico">
    <link rel="stylesheet" href="css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet"> 
    <title>Epidemias y Pandemias</title>
</head>
<body>
    <div class="contenedor">
        {{>header}}

        <section class="main">
            <article>
                <div class="img-artic">
                    <img src="https://images.clarin.com/2020/03/22/hasta-la-fecha-las-cinco___POipQvI28_1256x620__1.jpg" alt="Imagen principal">
                </div>
                <div class="texto">
                    <h1>Epidemias</h1>
    
                <p>En la actualidad el concepto es una relación entre una línea de base de una enfermedad,
                que puede ser la prevalencia o incidencia normales, y el número de casos que se detectan
                en un momento dado. En este sentido, si una comunidad se encuentra libre de una 
                determinada enfermedad, un solo caso constituye una epidemia. En otras palabras, 
                es un incremento significativamente elevado en el número de casos de una enfermedad
                con respecto al número de casos esperados. </p>
    
                       <h2>Pandemias</h2>
    
                       <p>Para que se declare el estado de pandemia se tienen que cumplir dos criterios:
                        que el brote epidemico afecte a más de un continente y que los casos de cada
                        país ya no sean importados sino provocados por trasmisión comunitaria.</p>
                </div>
            </article>
        </section>

        <aside>
            <div class="img"><a href="#"><img src="https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2019/06/27123146/vih-sida11.jpg" alt="VIH"></a></div>
            <div class="img"><img src="https://www.infobae.com/new-resizer/aWGFyfzmNuF1QMsoEh8a8ZAQItI=/750x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/03/21122242/Sarampion.jpg" alt="viruela"></div>
            <div class="img"><a href="#"><img src="https://pacifista.tv/wp-content/uploads/2020/03/corona_virus.jpg" alt="covid-19"></a></div>
        </aside>

        <footer>
            <div class="autor">
                <p>Vianey Medina</p>
            </div>

            <div class="redes">
                <a href="https://www.facebook.com/vianey.medina.792">Facebook</a>
                <a href="https://www.instagram.com/fer013828/?hl=es-la">Instagram</a>
            </div>
        </footer>
    </div>

        
</body>
</html>