<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaled=no,
    maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="img/icono.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/lepra.css">
    <title>Lepra</title>
</head>
<body>
    <div class="contenedor">
        {{>header}}
        <section class="main">
            <div class="lepra">
                <img src="img/lepra/fondo.jpg" alt="Fondo">
            </div>
            <section class="texto">
                <article>
                    <h2 class="titulo">Mycobacterium leprae</h2>
                    <p>La lepra es una enfermedad crónica causada por un bacilo, Mycobacterium leprae.
                    M. leprae se multiplica muy despacio y el periodo promedio de incubación de la enfermedad es de cinco años.
                    En algunos casos los síntomas pueden aparecer en 1 año, pero también pueden tardar hasta 20 años.
                    La enfermedad afecta principalmente a la piel, los nervios periféricos, la mucosa de las vías respiratorias superiores y los ojos.
                    </p>

                    <h3 class="subtitulo">Breve historia de la enfermedad y su tratamiento</h3>
                    <p>La lepra es una enfermedad antigua, descrita ya en la literatura de las civilizaciones de la antigüedad. A lo largo de la historia, los enfermos con lepra se han visto condenados al ostracismo por sus comunidades y familias.
                    En el pasado el tratamiento de la lepra era distinto. El primer avance importante se realizó en la década de 1940 con el desarrollo de la dapsona. La larga duración del tratamiento —de años o a menudo durante toda la vida— dificultaba su cumplimiento. En la década de 1960, M. leprae empezó a presentar resistencia a la dapsona, el único medicamento anti leproso conocido por entonces. A principios de esa década se descubrieron la rifampicina y la clofazimina, que posteriormente se añadieron al régimen terapéutico que más tarde se denominó tratamiento multimedicamentoso (TMM).
                    In 1981, la OMS recomendó el TMM, que en la actualidad consiste en tres fármacos: dapsona, rifampicina y clofazimina. El tratamiento tiene una duración de 6 meses en los casos paucibacilares y de 12 meses en los multibacilares. El TMM mata al patógeno y cura al paciente.
                    Desde 1995, la OMS proporciona TMM gratuito a todos los enfermos del mundo con lepra. Inicialmente, el TMM fue financiado por la Fundación Nippon, y desde 2000 mediante un acuerdo de donación con Novartis, que recientemente se ha comprometido a ampliar la donación hasta 2020.
                    La eliminación de la lepra como problema de salud pública (definida como una prevalencia registrada de menos de 1 caso por 10 000 habitantes) se logró en todo el mundo en 2000. A lo largo de los últimos 20 años se han tratado con TMM más de 16 millones de pacientes con lepra.
                    </p>

                    <h3 class="subtitulo">Respuesta de la OMS</h3>
                    <p>En 2016 la OMS presentó su Estrategia mundial para la lepra 2016–2020: acelerar la acción hacia un mundo sin lepra, destinada a reforzar los esfuerzos por controlar la enfermedad. La estrategia se centra en evitar las discapacidades, especialmente entre los niños.
                    Estrategia mundial para la lepra 2016–2020: Acelerar la acción hacia un mundo sin lepra 
                    La Estrategia Mundial contra la Lepra 2016-2020 se estructura en torno a los tres pilares básicos siguientes:
                    Pilar I: Reforzar la implicación de los gobiernos, la coordinación y las alianzas
                    Intervenciones fundamentales:
                    Asegurar el compromiso político y recursos suficientes para los programas de lucha contra la lepra.
                    Contribuir a la cobertura sanitaria universal, prestando especial atención a los niños, las mujeres y las poblaciones suba tendidas, en particular los migrantes y los desplazados.
                    Fomentar las alianzas con agentes estatales y no estatales, y fomentar la colaboración y las alianzas intersectoriales a nivel internacional y nacional.
                    Facilitar y realizar investigaciones operacionales sobre todos los aspectos de la lepra y mejorar las evidencias para fundamentar las políticas, las estrategias y las actividades.
                    Reforzar los sistemas de vigilancia y de información sanitaria (incluidos los sistemas de información geográfica) para contribuir al monitoreo y evaluación de los programas.
                    </p>

                    <h3 class="subtitulo">Acabar con la discriminación y fomentar la inclusión</h3>
                    <p>Intervenciones fundamentales:
                    Fomentar la inclusión en la sociedad y luchar contra todas las formas de discriminación y estigmatización.
                    Empoderar a los afectados por la enfermedad y reforzar su capacidad para participar activamente en los servicios de atención a la lepra.
                    Implicar a las comunidades en la mejora de los servicios de atención a la lepra.
                    Fomentar la coalición entre los afectados y alentar la integración de esas coaliciones y sus miembros en otras organizaciones de base comunitaria.
                    Fomentar el acceso a los servicios de apoyo social y financiero, por ejemplo, para facilitar la generación de ingresos para los afectados por la lepra y sus familias.
                    Apoya la rehabilitación en la comunidad para las personas con discapacidades relacionadas con la lepra.
                    Luchar por la abolición de las leyes discriminatorias y fomentar las políticas que faciliten la inclusión de las personas afectadas por la lepra.
                    </p>
                </article>
            </section>
        </section>

        <aside>
            <div class="ad">
                <img src="img/lepra/1.jpg" alt="Lepra">
                <h3>Datos y cifras</h3>
                <p>La lepra se puede curar con un tratamiento multimedicamentoso.
                La lepra se transmite con frecuencia a través de las gotitas que se expulsan de la boca o la nariz, por medio de contactos cercanos y frecuentes con personas que no han recibido tratamiento.
                Si no se trata, la lepra puede causar lesiones progresivas y permanentes en la piel, los nervios, las extremidades y los ojos.
                En 2017 se registraron 211 009 nuevos casos de lepra a nivel mundial, según cifras oficiales provenientes de 159 países de cada una de las regiones de la OMS. 
                Sobre la base de los 193 118 casos de finales de 2017, la tasa de detección de casos es de 0,3/10 000.
                </p>
            </div>
            <div class="ad">
                <img src="img/lepra/2.jpg" alt="Enfermo de lepra">
            </div>
        </aside>

        <footer>
            <div class="autor">
                <p>Vianey Medina</p>
            </div>

            <div class="redes">
                <a href="http://localhost:3000/h1n1.hbs">back</a>
                <a href="http://localhost:3000/bubonica.hbs">Next</a>
            </div>
        </footer>
    </div>
</body>
</html>