<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaled=no,
    maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="img/icono.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/peste-negra.css">
    <title>Peste Negra</title>
</head>
<body>
    <div class="contenedor">
        {{>header}}

        <section class="main">
            <div class="pest">
                <img src="img/Peste/fondo.jpg" alt="Arte de la peste">
            </div>
            <section class="texto">
                <article>
                    <h2 class="titulo">La Peste Negra</h2>
                    <p>La peste negra o muerte negra se refiere a la pandemia de peste más devastadora
                    en la historia de la humanidad que afectó a Eurasia en el siglo XIV y que alcanzó
                    un punto máximo entre 1347 y 1353. Es difícil conocer el número de fallecidos,
                    pero en el siglo XXI las estimaciones de 25 millones de personas solo en Europa,
                    aproximadamente un tercio de la población, se consideran muy optimistas.1 
                    La teoría aceptada sobre el origen de la peste explica que fue un brote causado
                    por una variante de la bacteria Yersinia pestis.234 Es común que la palabra 
                    «peste» se utilice como sinónimo de «muerte negra», aún cuando aquella deriva
                    del latín «pestis», es decir, «enfermedad» o «epidemia», y no del agente patógeno. </p>

                    <h3 class="subtitulo">Antecedentes</h3>
                    <p>Realmente la Peste Negra no cuenta con antecedentes por a su carácter multicontinental.
                    nota 1 Griegos y romanos relataron infinidad de pestilencias, algunas de gran mortalidad y/o 
                    morbilidad, como la que debió asolar el norte de África hacia 125 a.C. (Gonzálves Cravioto, 2003, p. 44);
                    pero eran epidemias muy localizadas en una ciudad o región concreta. La Peste Negra fue un mal que atacó 
                    el norte de África, Asia, Oriente Medio y Europa, excepto Islandia y Finlandia,6 con una mortalidad no 
                    alcanzada después por las más graves epidemias como la viruela, diezmadora en América, o la Gripe española.</p>

                    <h3 class="subtitulo">Sintomas y mortalidad</h3>
                    <p>Varios cronistas de la época indican la brusquedad con la que aparecían los síntomas. Una persona podía estar sana por la mañana y tener fiebre alta por la tarde para morir al llegar la noche. Según la literatura médica y de otra índole, los afectados padecían todos o varios de los siguientes síntomas según Giovanni Boccaccio (2013) y otros autores: 
                    Fiebre alta incluso superando los 40 grados.
                    Tos y esputos sanguinolentes.
                    Sangrado por la nariz y otros orificios.
                    Sed aguda.
                    Manchas en la piel de color azul o negro debido a pequeñas hemorragias cutáneas.
                    Aparición de bubones negros en ingles, cuello, axila, brazos, piernas o tras las orejas, debido a la inflamación de los ganglios pertenecientes al sistema linfático.
                    Gangrena en la punta de las extremidades.
                    Rotura de los bubones supurando líquido con un olor pestilente.
                    Aún con todo, Giovanni Boccaccio y otros autores describen un tipo de peste casi asintomático que provocaba la muerte a las 14 horas aproximadamente. </p>
                    
                    <h3 class="subtitulo">El agente infeccioso</h3>
                    <p>Hasta el siglo XIX no había una propuesta sólida sobre qué bacteria o virus
                    causando una mortalidad que no ha conocido igual ni antes ni después.18 Sin
                    embargo, ese consenso se rompió en la década de 1980 y en el siglo XXI aún
                    perduran las discrepancias por distintos motivos. A principios del siglo 
                    XXI, no existía consenso sobre si la peste negra fue una enfermedad emergente
                    o reemergente. Para Christopher Duncan pertenecería al primer tipo proveniente
                    quizá de mamíferos africanos.1 Para Ole J. Benedictow (2004, p. 66) sería del
                    segundo, detenida durante siglos como consecuencia de la interrupción
                    comercial con África y Oriente Medio debido a la caída del Imperio Romano.</p>
                </article>
            </section>
        </section>

        <aside>
            <div class="ad">
                <img src="img/Peste/1.jpg" alt="Doctor de la época">
                <h3>Expansion de la enfermedad</h3>
                <p>Posee un origen desconocido. En India y China no hay datos de una epidemia especialmente
                relevante hacia el siglo XIV, en este último país la referencia más antigua data del
                siglo VII, pero como descripción sintomática, no epidémica y en la gran Enciclopedia
                de China no se menciona hasta la década de 1640, pese a que Lien-Tê Wu (1936, p. 47)
                atribuye un origen chino a la enfermedad hacia 1346.</p>
            </div>
            <div class="ad">
                <img src="img/Peste/2.jpg" alt="Enfermo de de la peste">
            </div>
        </aside>
        <footer>
            <div class="autor">
                <p>Vianey Medina</p>
            </div>

            <div class="redes">
                <a href="http://localhost:3000/h1n1.hbs">back</a>
                <a href="http://localhost:3000/lepra.hbs">Next</a>
            </div>
        </footer>
    </div>
</body>
</html>