<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaled=no,
    maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="img/icono.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/vih.css">
    <title>VIH</title>
</head>
<body>
    <div class="contenedor">
        {{>header}}

        <section class="main">
            <div class="inmuno">
                <img src="img/vih/princi.jpg" alt="VIH-Sida">
            </div>
            <section class="texto">
                <article>
                    <h2 class="titulo">Virus de inmuno deficiencia humana</h2>
                    <p>El VIH, que continúa siendo uno de los mayores problemas para la salud pública mundial, se ha cobrado ya más de 32 millones de vidas. Sin embargo, habida cuenta del acceso creciente a la prevención, el diagnóstico, el tratamiento y la atención eficaces del VIH, incluidas las infecciones oportunistas, la infección por el VIH se ha convertido en un problema de salud crónico llevadero que permite a las personas que viven con el virus llevar una vida larga y saludable.
                    A finales de 2018 había aproximadamente 37,9 millones de personas con el VIH.
                    Como resultado de los esfuerzos internacionales concertados para responder al VIH, la cobertura de los servicios ha ido aumentando constantemente. En 2018, el 62% de los adultos y el 54% de los niños infectados con el VIH en países de ingresos bajos y medios estaban recibiendo tratamiento antirretrovírico (TAR) de por vida.
                    Una gran mayoría (82%) de las mujeres embarazadas o en periodo de lactancia infectadas con el VIH también estaban en tratamiento con antirretrovírico, lo que no solo protege su salud, sino que también previene que transmitan el virus a sus hijos.
                    Sin embargo, no todas las personas pueden acceder a las pruebas de detección del VIH, al tratamiento y a la atención. En particular, las metas aceleradas de 2018 para reducir a 40 000 las nuevas infecciones pediátricas por el VIH no se cumplieron. Las metas mundiales para 2020 corren el riesgo de no alcanzarse si no se toman medidas rápidas.
                    Debido a las deficiencias en los servicios relacionados con el VIH, en 2018 murieron 770000 personas por causas relacionadas con el VIH y 1,7 millones de personas contrajeron la infección.
                    </p>

                    <h3 class="subtitulo">Signos y sintomas</h3>
                    <p>Los síntomas de la infección por el VIH difieren según la etapa de que se trate. Aunque el máximo de infectividad se tiende a alcanzar en los primeros meses, muchos infectados ignoran que son portadores hasta fases más avanzadas. A veces, en las primeras semanas que siguen al contagio la persona no manifiesta ningún síntoma, mientras que en otras ocasiones presenta un cuadro seudogripal con fiebre, cefalea, erupciones o dolor de garganta.
                    A medida que la infección va debilitando el sistema inmunitario, la persona puede presentar otros signos y síntomas, como inflamación de los ganglios linfáticos, pérdida de peso, fiebre, diarrea y tos. En ausencia de tratamiento pueden aparecer enfermedades graves como tuberculosis (TB), meningitis criptológica, infecciones bacterianas graves o cánceres como linfomas o sarcoma de Kaposi.
                    </p>

                    <h3 class="subtitulo">Transmición</h3>
                    <p>El VIH se transmite a través del intercambio de determinados líquidos corporales
                    de la persona infectada, como la sangre, la leche materna, el semen o las secreciones
                    vaginales. También se puede transmitir de la madre al hijo durante el embarazo y el
                    parto. No es posible infectarse en los contactos ordinarios cotidianos como los 
                    besos, abrazos o apretones de manos o por el hecho de compartir objetos personales,
                    agua o alimentos.</p>

                    <h3 class="subtitulo">Diagnostico</h3>
                    <p>La infección por el VIH se puede diagnosticar mediante pruebas de diagnóstico rápido que proporcionan resultados el mismo día. Esto facilita enormemente el diagnóstico precoz y la vinculación con el tratamiento y la atención. Las personas también pueden realizarse auto pruebas de detección del VIH. Sin embargo, ninguna prueba puede proporcionar por sí sola un diagnóstico completo de la infección por el VIH; se requiere una prueba confirmatoria, realizada por un trabajador sanitario cualificado y validado en un centro comunitario o clínica. La infección por el VIH se puede detectar con gran exactitud mediante pruebas precalificadas por la OMS en el marco de una estrategia de pruebas aprobada a nivel nacional. 
                    Las pruebas de diagnóstico del VIH de uso más generalizado detectan los anticuerpos que se generan como parte de la respuesta inmunitaria para luchar contra el virus. En la mayoría de las personas, los anticuerpos contra el VIH aparecen dentro de los 28 días posteriores a la infección. Durante este tiempo, las personas experimentan el llamado período de seroconversión, que es cuando todavía no han generado anticuerpos y pueden no haber tenido signos de infección por el VIH, pero pueden transmitir el VIH a otras personas. Después de la infección, una persona puede transmitir el VIH a una pareja sexual o a otra persona con la consuma drogas.
                    A quienes hayan dado positivo en una primera prueba diagnóstica se les debe realizar una nueva prueba antes de atenderlos y tratarlos, con el fin de descartar que los resultados sean incorrectos o se haya proporcionado una información equivocada. Sin embargo, una vez se ha diagnosticado la infección y se ha empezado el tratamiento no se deben realizar nuevas pruebas diagnósticas.
                    Si bien se dispone de pruebas simples y eficaces para los adolescentes y adultos, este no es el caso de los bebés nacidos de madres VIH-positivas. Las pruebas serológicas no bastan para detectar la infección en los niños menores de 18 meses de edad, por lo que se deben realizar pruebas virológicas en el momento del nacimiento o a las seis semanas de edad. Están apareciendo nuevas tecnologías que permiten hacer la prueba en el lugar donde se presta la asistencia y obtener un resultado en el mismo día, lo cual permite también atender al paciente e iniciar el tratamiento con mayor rapidez.
                    </p>

                    <h3 class="subtitulo">Tratamiento</h3>
                    <p>Es posible suprimir el VIH mediante tratamientos en los que se combinan tres o más fármacos antirretrovírico. Aunque el TAR no cura la infección por el VIH, inhibe la replicación del virus en el organismo y permite que el sistema inmunitario recobre fortaleza y capacidad para combatir las infecciones.
                    En 2016, la OMS recomendó proporcionar TAR de por vida a todas las personas con el VIH, incluidos los niños, adolescentes y adultos y las mujeres embarazadas y en periodo de lactancia, con independencia de su estado clínico y de su recuento de CD4. Hasta mediados de 2019, esta recomendación había sido adoptada ya por 182 países, que abarcan el 99% de las personas infectadas por el virus a nivel mundial.
                    La OMS actualizó sus directrices para el tratamiento de la infección por el VIH en 2018 y 2019 con el fin de tener en cuenta los últimos avances científicos. Las directrices para el tratamiento de la infección por el VIH incluyen nuevos antirretrovírico alternativos con mejor tolerabilidad, mayor eficacia y tasas más bajas de incumplimiento terapéutico que los fármacos recomendados anteriormente. La OMS recomienda el uso de dolutegravir o efavirenz a dosis bajas como tratamiento de elección, y raltegravir y darunavir/ritonavir como segunda elección.
                    </p>
                </article>
            </section>
        </section>

        <aside>
            <div class="ad">
                <img src="img/vih/1.jpg" alt="VIH">
                <h3>Factores de risgo</h3>
                <p>tener relaciones sexuales anales o vaginales sin preservativo;
                padecer otra infección de transmisión sexual (ITS) como sífilis, herpes, clamidiasis, gonorrea o vaginosis bacteriana;
                compartir agujas, jeringuillas, soluciones de droga u otro material de inyección contaminado para consumir drogas inyectables;
                recibir inyecciones, transfusiones sanguíneas o trasplantes de tejidos sin garantías de seguridad o ser objeto de procedimientos médicos que entrañen cortes o perforaciones con instrumental no esterilizado; y
                pincharse accidentalmente con una aguja, algo que afecta en particular al personal de salud.
                </p>
            </div>
            <div class="ad">
                <img src="img/vih/2.jpg" alt="Enfermo de vih">
            </div>
        </aside>

        <footer>
            <div class="autor">
                <p>Vianey Medina</p>
            </div>

            <div class="redes">
                <a href="http://localhost:3000/ebola.hbs">back</a>
                <a href="http://localhost:3000/h1n1.hbs">Next</a>
            </div>
        </footer>
    </div>
</body>
</html>