<header>
    <nav class="menu">
        <a href="http://localhost:3000/">Inicio</a>
        <a href="http://localhost:3000/enfermedades.hbs">Enfermedades</a>
        <a href="http://localhost:3000/contacto.hbs">Contacto</a>
    </nav>
</header>